@use '../variables/colors';

@mixin sMainFooter() {
    display: flex;
    grid-area: footer;
    z-index: 1;
    height: 4.5rem;
    text-align: center;
    background-color: colors.$footerBackground;
    box-shadow: 0px 5px 30px 1px colors.$footerNormalColor;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

@mixin sFooterCopy() {
    color: colors.$footerNormalColor;
    font-size: 1rem;
    margin: 0;
}

@mixin sFooterBottomMenu() {
    display: flex;
    margin: 0;
    padding: 0;
    height: 2rem;
    align-items: center;
}

@mixin sFooterLi() {
    display: flex;
    list-style: none;
    padding: 0 0.4rem;
    float: left;
    align-items: center;
}

@mixin sFooterA(){
    display: flex;
}

@mixin sFooterLogo(){
    height: 1.8rem;
    width: 1.8rem;
}